
/* All posts container */
.userPostsContainer {
    display: flex;
    flex-direction: column;
}

/* Each post container */
.userPostsContainer > .post {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    max-height: 20rem;
    flex-wrap: wrap;
}

.userPostsContainer > .post > p {
    font-size: .8rem;
}

.userPostsContainer > .post > img {
    width: 100%;
    object-fit: cover;
    height: 5rem;
}

.editPostButton {
    background: rgb(255, 255, 255);
    color: #114B5F;
    border-style: none;
    cursor: pointer;
    padding: 0.3rem;
}