.sign-in-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.356);

    display: flex;
    justify-content: center;
    align-items: center;

}

.sign-in-box {
    background: ivory;
    padding: 1rem;
    border-radius: .3rem;
}

.sign-in-box div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.hidden {
    display: none;
}

.profileContainer {
    border-radius: 1rem;
    background: #C6DABF;
    padding: 0.5rem;
    margin: 0.3rem;
}

.profileContainer h3 {
    margin: 0;
    padding: 0;
}

.profileContainer button {
    background: #F3E9D2;
    color: #114B5F;
    border-style: none;
    margin: 0.3rem;
    cursor: pointer;
    padding: 0.3rem;
}


.errorMsg {

}