.editPostContainer, .editPostContainer > * {
    margin: .5rem;
    outline: none;
    box-sizing: border-box;
}

.editPostContainer > form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
}

.editPostContainer > form input, .editPostContainer > form textarea {
    width: 100%;
    border-radius: .5rem;
    border: 0;
    font-size: 1rem;
    padding: 1rem;
}

.editPostContainer > form input, .editPostContainer > form textarea {
    margin: .5rem 0;

}
.editPostContainer button[type="submit"] {
    align-self: center;
    font-size: 1rem;
    border: 0;
    color: #F3E9D2;
    font-weight: bold;
    padding: 1rem;
    border-radius: .5rem;
    width: fit-content;
}

.editPostContainer .valid, .valid {
    cursor: pointer;
    background-color: rgb(17, 75, 95);
}

.editPostContainer .invalid, .invalid {
    background-color: #C6DABF;
}


textarea {
    max-height: 12rem;
    overflow-y: scroll;
    line-height: 1.5rem;
    resize: none;
}