.startpageContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 60rem;
}

.startpageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startpageTitle {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    color: #114B5F;
    align-items: center;
}

.post, .post > * {
    width: 80%;
}

.post img {
    width: 10rem;
    object-fit: contain;
}