.profileSidebar {
    border-radius: 1rem;
    background: #C6DABF;
    padding: 0.5rem;
    margin: 0.3rem;
}

.profileSidebar h3 {
    margin: 0;
    padding: 0;
}

.profileSidebar button {
    background: #F3E9D2;
    color: #114B5F;
    border-style: none;
    margin: 0.3rem;
    cursor: pointer;
    padding: 0.3rem;
}